/* Dashboard grid layout */
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.likelihood {
  width: 100%;
  margin-inline: auto;
}

.intensity {
  width: 100%;
}